$font-wt-light: 300;
$font-wt-regular: 400;
$font-wt-medium: 500;

$font-size-small: 0.9375rem;
$font-size-medium: 1.125rem;
$font-size-large: 1.5rem;
$font-size-xlarge: 2rem;
$font-size-large-desktop: 2.5rem;
$font-size-xlarge-desktop: 3.5rem;

$color-white: #FFF;
$color-bg-card: #1C204B;
$color-fore-first-card: #5747EA;
$color-bg-work-card: #FF8B64;
$color-bg-play-card: #55C2E6;
$color-bg-study-card: #FF5E7D;
$color-bg-exercise-card: #4BCF82;
$color-bg-social-card: #7335D2;
$color-bg-self-care-card: #F1C75B;

$border-radius-default: 1rem;

$cursor: pointer;

